# Global
.*.swp
.DS_Store

# Application
web/
data/

# PHPStorm
.idea/

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties

# VSCode
.vscode/

# SSL Certs
etc/ssl/
